.Banana {
background-color: yellow; color: black; 
}

.Tomato {
background-color: red; color: white; 
}

#guacamole {
    background-color: green; 
}

.header {
text-align: center; color: hotpink
}

.Banana .Tomato #guacamole {
font-size: 30px; font-family: 'Times New Roman', Times, serif; font-weight: 300;
}

