body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 30px; font-family: 'Times New Roman', Times, serif; font-weight: 700;
    color: blue;
}

.Banana {
background-color: white; color: black; display: inline-block;
margin: 100px; margin-top: 20px; border: solid yellow 40px; padding: 50px
}

.Tomato {
background-color: white; color: black; display: inline-block; 
margin: 100px; margin-top: 20px; border: solid red 40px; padding: 50px;
}

#guacamole {
    background-color: white; color: black; display: inline-block;
    margin: 100px; margin-top: 20px; border: solid green 40px; padding: 50px;
}

.header {
text-align: center; color: rgb(165, 14, 165); font-family: 'Times New Roman', Times, serif;
font-size: 20px; margin: auto; display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
 
.block {
    display: inline-block; margin: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px;
    padding-right: 20px; background-color: rgb(185, 58, 111); color: blue; text-align: center;
}
